############################
# Spring Boot / Maven
############################
/target/
.mvn/wrapper/maven-wrapper.jar

# (optionnel) garder d’éventuels target imbriqués
!**/src/main/**/target/
!**/src/test/**/target/

############################
# Eclipse / STS
############################
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache/

############################
# IntelliJ IDEA
############################
.idea/
*.iws
*.iml
*.ipr

############################
# NetBeans
############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

############################
# VS Code
############################
.vscode/

############################
# Logs
############################
*.log

############################
# OS (macOS)
############################
.DS_Store

############################
# Crash logs JVM
############################
hs_err_pid*
replay_pid*

############################
# Secrets / local config
############################
.env
application-local.yml
application-local.yaml